<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="tests/bootstrap.php"
  colors="true"
  verbose="true"
  stopOnFailure="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
      <directory>./tests</directory>
      <directory>./languages</directory>
      <directory>./assets</directory>
    </exclude>
    <report>
      <clover outputFile="coverage.xml" />
      <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="90" />
      <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="false" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Plugin Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>