<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="tests/bootstrap.php"
  colors="true"
  verbose="true"
  stopOnFailure="false"
  beStrictAboutCoversAnnotation="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutTodoAnnotatedTests="true"
  convertDeprecationsToExceptions="true"
  failOnRisky="true"
  failOnWarning="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
>
  <coverage
    processUncoveredFiles="true"
    includeUncoveredFiles="true"
    ignoreDeprecatedCodeUnits="true"
    disableCodeCoverageIgnore="true"
  >
    <include>
      <directory suffix=".php">./</directory>
    </include>
    <exclude>
      <directory>./vendor</directory>
      <directory>./tests</directory>
      <directory>./languages</directory>
      <directory>./assets</directory>
    </exclude>
    <report>
      <clover outputFile="coverage.xml" />
      <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="90" />
      <text outputFile="php://stdout" showUncoveredFiles="true" showOnlySummary="false" />
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Plugin Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="display_errors" value="On" />
    <ini name="error_reporting" value="-1" />
    <ini name="xdebug.mode" value="coverage" />
    <ini name="memory_limit" value="512M" />
  </php>
</phpunit>